@charset "utf-8";
/*CSS Document*/

/*Aquí comienza el reset CSS*/

html.body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,form,fieldset{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

ol{
    margin-left: 1.4em;
    list-style: decimal;
}

ul{
    margin-left: 1.4em;
    list-style: square;
}

image{
    border: 0;
}

/*Hasta aquí el reset CSS*/

